body{
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

header{
    margin: 0;
}
main{

    padding-bottom: 5rem;
}

.eslogan {
    background-color: black;
    text-align: center;
}

.eslogan h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
}

nav{
    background-color: black;
}

nav ul {
    display: flex;
    padding: 0.3rem 0;
        margin: 0;
    color:#f5f5f5;
    justify-content: space-around;
    list-style-type: none;
}

.video-principal{
    width: 100%;
    height: auto;
    margin: 0;
}

.video-principal video{
    width: 100%;
    height: auto;
}
/*  P R O D U C T O S  */

.catalogo {
    display: grid;
    margin-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.titulo-catalogo{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
}

.imagen-producto{
    display: flex;
    justify-content: center;
}


.nombreproducto {
    display: flex;
    justify-content: center;
}

.precio{
    display: flex;
    justify-content: center;
}

.card button{
    width: 100%;
    background-color: black;
    border-radius: 4px;
    color: aliceblue;
    font-size: 1.2rem;
}

/*  F O R M U L A R I O  */
.contacto {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.titulo-contacto{
    display: flex;
    justify-content: center;
}

.contacto label {
  font-weight: bold;
}

.contacto input,
.contacto textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.contacto button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.contacto button:hover {
  background-color: #444;
}



/*  FOOTER  */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eslogan-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    background-color: black;
}

.eslogan-footer h2 {
    font-size: 1.5rem;
    margin: 0;
}

.segundaCajaFooter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: none;
}

.piecito {
    list-style-type: none;
}

.piecito li {
    padding: 0.5rem;
}